{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
  <form method="post" action="{{ path('app_login') }}">
    {% if error %}
      <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    <label for="inputEmail">Email</label>
    <input type="email" id="inputEmail" name="email" required autofocus value="{{ last_username }}"/>

    <label for="inputPassword">Mot de passe</label>
    <input type="password" id="inputPassword" name="password" required/>

    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}"/>

    <button type="submit">Se connecter</button>
  </form>
{% endblock %}
