{# templates/astreignable/dashboard.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Mon Espace Astreignable{% endblock %}

{% block body %}
  <h1>Bienvenue {{ user.userIdentifier }} !</h1>
  <p>Ceci est votre espace astreignable.</p>
{% endblock %}
